.users-container {
  max-width: 600px;

}

/* FORM */
.user-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.user-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

.user-form button {
  padding: 8px 15px;
  border: none;
  background: #431ce1;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* LIST */
.user-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.user-card {
  border: 1px solid #e0e0e0;
  padding: 15px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  transition: 0.2s;
}

.user-card:hover {
  transform: translateY(-3px);
}


.error-text {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}